#alternativlabs-chatpanel  {
	border-radius:0px !important;
}

#alternativlabs-chatpanel > .panel-heading {
	cursor:pointer;
	
}
.chathistory {
	min-height: 200px;
	max-height:200px;
	overflow-y:scroll;
}

.form-group > label.error {
	display:none !important;
}

.form-control.error {
	border-color:red;
}